[submodule "cheat-base/vendor/imgui"]
	path = cheat-base/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cheat-base/vendor/minhook"]
	path = cheat-base/vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
